* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
 .navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 110px;
    margin: 1px;
    padding: 1px 8px 0px 6px;
    color: #2162a1;
}
.logo {
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
.nav-address {
    justify-content: space-evenly;
}
 /* for second div */
 .add-first {
    color: #cccccc;
    height: 14px;
    font-size: 12px;
    margin-left: 15px;
 }
 .add-second {
    color: #ffffff;
    height: 16px;
    font-size: 14px;
    padding: 0px 0px 1px;
    margin-left: 3px;
    margin-bottom: 5px;
 }
 .add-icon {
    display: flex;
    align-items: center;
 }
 .nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 100%;
    max-width: 900px;
    height: 40px;
    border-radius: 4px;
 }

 .search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
 }
.search-input {
    width: 100%;
    padding: 7px 10px 10px 0px;
    font-size: 1rem;
    border: none;
}
.search-ion {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
} 
.nav-search :hover {
 border: 2px solid orange;
}
.thing {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #d6d6d6;
    align-items: center;
}
.flag {
    align-items: center;
    margin-top: 7px;
}
.language {
    color: #ffffff;
    width: 18px;
    height: 15px;
}
span {
    font-size: 0.7rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i {
    font-size: 35px;
}
.nav-cart {
    font-size: 20px;
}
.nav-panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
}
.panel-all i {
    margin-left: 20px;
}
.panel-ops {
    display: flex;
    width: 90%;
    font-size: 0.85rem;
    align-items: center;
    justify-content: centerS;
}
.panel-ops p {
    margin-left: 20px;
    border: inline;
}
.home-page {
    margin-left: 10px;
    margin-right: 10px;
}
.home-page {
    background-image: url("images/home_page2.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.home-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: inline-block;
    font-size: 0.85rem;
    width: 98%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.home-msg p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.shop-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.box {
    height: 385px;
    width: 23.5%;
    flex: 1 1 calc(25% - 20px); 
    min-width: 250px; 
    max-width: 350px;
    margin-top: 40px;
    background-color: white;
}
.box1 p {
    margin-top: 10px;
    margin-right: 130px;
    color: #0f1111;
    font-size: 21px;
}
.img1 {
    margin-left: 15px;
    margin-top: 10px;
    image-rendering: auto;
}
.a1 {
    margin-left: 15px;
    margin-top: 5px;
    font-size: 13px;
}
a {
    text-decoration: none;

}
.box2 p {
    margin-top: 10px; 
    margin-right: 15px;
    color: #0f1111;
    font-size: 21px;
}
.img2 {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}
.p1 p {
    font-size: 12px;
    margin: inline;
}
.p1 {
    margin-left: 15px;
}
.box3 p {
    margin-top: 10px; ;
    margin-right: 85px;
    color: #0f1111;
    font-size: 21px;
}
.box4 p {
    margin-top:  10px; 
    margin-right: 20px;
    color: #0f1111;
    font-size: 21px;
}
.content {
    height: 4000px;
    background-color: #e2e7e6;
}
.shop-section2 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 100px;
    margin-left: 28px;
    margin-right: 26px;
}
.boxes { 
    margin-top: 30px;
    height: 385px;
    width: 24%;
    background-color: white;
}
.box5 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.a2 {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 13px;
    
}
a {
    text-decoration: none;

}
.box6 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.p3 {
    font-size: 13.6px;
    margin-left: 15px;
}
.img2 {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}
.box7 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.box8 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.shop-section3 {
    width: 96.3%;
    height: 300px;
    background-color: white;
    margin-top: 30px;
    margin-left: 27px;
    margin-right: 27px;
}
.para p {
    font-size: 25px;
    color: #0f1111;
    font-family: Arial;
}
.para {
    margin-left: 17px;
    height: 20px;
    padding-top: 10px;
}
.img3 {
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    gap: 14px;
}
.shop-section4 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-left: 28px;
    margin-right: 26px;
}
.boxer { 
    margin-top: 30px;
    height: 385px;
    width: 24%;
    background-color: white;
}
.box9 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.a3 {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 13px;
    
}
a {
    text-decoration: none;

}
.box10 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.p4 {
    font-size: 13.6px;
    margin-left: 15px;
}
.img2 {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}
.box11 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.box12 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.shop-section5 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-left: 28px;
    margin-right: 26px;
}
.boxers { 
    margin-top: 30px;
    height: 385px;
    width: 24%;
    background-color: white;
}
.box13 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.a4 {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 13px;
    
}
a {
    text-decoration: none;

}
.box14 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.p5 {
    font-size: 13.6px;
    margin-left: 15px;
}
.img2 {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}
.box15 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.box16 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.shop-section7 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-left: 28px;
    margin-right: 26px;
}
.bo { 
    margin-top: 30px;
    height: 385px;
    width: 24%;
    background-color: white;
}
.box17 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.a7 {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 13px;
    
}
a {
    text-decoration: none;

}
.box18 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.p7 {
    font-size: 13.6px;
    margin-left: 15px;
}
.img2 {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}
.box19 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.box20 p {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 21px;
}
.endpart {
    height: 200px;
   width: 100%;
}
.finishing {
    margin-top: 60px;
    text-align: center;
    justify-content:center;
}
.finishing p {
    font-size: 25px;
    padding-top: 40px;
}
.finishing button {
    font-size: 15px;
    margin-top: 10px;
    width: 260px;
    height: 30px;
    background-color: #ffd814;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border :none;
}
footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2 {
    background: #232f3e; ;
    color: white;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 ul {
    margin-top: 50px;
}
.foot-panel2 ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3 {
    height: 90px;
    background-color: #232f3e;
    border-top: 0.5px solid rgb(74, 77, 96);
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.final-buttons {
    display: flex;
    height: 30px;
    margin-left: 30px;
    gap: 15px;
}
.final-buttons button {
    background-color: #232f3e;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border : 0.01px solid white;
}
.final-panel1 {
    background: #131A22; ;
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.panel8 {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
.panel8 ul p {
    font-size: 14px;
    color: #dddddd;
}
.panel8 ul a {
    font-size: 12px;
    display: flex;
    color: #999999;
}
.foot-panel6 {
    background-color: #131a22;
    color: #dddddd;
    height: 100px;
    font-size: 13px;
    text-align: center;
}
.pages {
    padding-top: 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.pages a {
    color:#dddddd
}
@media (max-width: 1024px) {
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }
    .nav-search {
        order: 3;
        width: 100%;
        max-width: none;
        margin-top: 10px;
    }
    .shop-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 90%;
        margin-bottom: 20px;
    }
    .shop-section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boxes {
        width: 90%;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
    .nav-logo {
        width: 100px;
        height: 40px;
    }
    .logo {
        height: 40px;
    }
    .nav-address {
        display: none; 
    }
    .nav-search {
        width: 100%;
        height: 35px;
        margin: 10px 0;
    }
    .search-select {
        width: 60px;
    }
    .search-input {
        font-size: 0.9rem;
    }
    .thing {
        display: none; 
    }
    .nav-signin, .nav-returns, .nav-cart {
        font-size: 0.8rem;
    }
    .nav-panel {
        flex-direction: column;
        text-align: center;
    }
    .panel-ops {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .shop-section, .shop-section2 {
        padding: 10px;
    }
    .box, .boxes {
        width: 100%;
        margin: 10px 0;
    }
    .img1 img, .img2 img {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
    }
    .img2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .img2 img {
        flex: 0 0 48%; /* Two images per row */
        margin-bottom: 10px;
    }
    .home-msg {
        font-size: 0.9rem;
        text-align: center;
    }
    footer {
        text-align: center;
    }
    .foot-panel1, .foot-panel2, .foot-panel3, .foot-panel4, .foot-panel5 {
        padding: 10px;
    }
    .foot-panel2 ul {
        margin: 10px 0;
    }
    .pages {
        flex-wrap: wrap;
    }
}


@media (max-width: 480px) {
    .navbar {
        padding: 5px;
    }
    .nav-logo {
        width: 80px;
        height: 30px;
    }
    .logo {
        height: 30px;
    }
    .nav-search {
        height: 30px;
    }
    .search-select {
        width: 50px;
        font-size: 0.8rem;
    }
    .search-input {
        font-size: 0.8rem;
    }
    .nav-signin p, .nav-returns p, .nav-cart {
        font-size: 0.7rem;
    }
    .panel-ops p {
        font-size: 0.9rem;
    }
    .box p, .boxes p {
        font-size: 0.9rem;
    }
    .a1 a, .a2 a {
        font-size: 0.8rem;
    }
}